.admin-dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.admin-dashboard>button {
    background: #a73737;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7a2828, #a73737);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7a2828, #a73737);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 0 1em 2em 1em;
    height: 4em;
    color: white;
    border-radius: 10px;
}
.admin-dashboard>button:hover
{
    font-weight: bolder;
    transition: 0.3s ease-in-out;
}